
<ng-container>
  <div class='app-calendar puntero'>
    <full-calendar
      #calendar
      defaultView="dayGridMonth"
      [header]="{
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      }"
      [plugins]="calendarPlugins"
      [events]="calendarEvents"
      (eventClick)="handleEventClick($event)"
      (dateClick)="handleDateClick($event)"
    ></full-calendar>
  </div>


  <button type="button" #myButton class="btn btn-primary" data-toggle="modal" data-target="#myModal" [hidden]=true>
      Open modal
  </button>

  <app-event-modal (successData)="processSuccessData($event)"></app-event-modal>


  
  
</ng-container>




